@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --color-grass: #5dba56;
    --color-fire: #F9A44C;
    --color-water: #529BDD;
    --color-poison: #b863d0;
    --color-bug: #90bb2b;
    --color-flying: #9eb8e8;
    --color-normal: #9B9E9B;
    --color-electric: #eed74c;
    --color-ice: #72cabb;
    --color-fighting: #d0415d;
    --color-psychic: #f98480;
    --color-rock: #cabc8a;
    --color-ghost: #5e6cba;
    --color-dark: #57555f;
    --color-dragon: #0a68c7;
    --color-steel: #5695a3;
    --color-fairy: #ee91e6;
    --color-ground: #d37748;
}

html, body{
    padding: 0;
    margin: 0;
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Poppins;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*
    TYPE COLORS
*/

.bg-grass{
    background-color: var(--color-grass); 
}

.bg-fire{
    background-color: var(--color-fire);
}

.bg-water{
    background-color: var(--color-water);
}

.bg-poison{
    background-color: var(--color-poison);
}

.bg-bug{
    background-color: var(--color-bug);
}

.bg-flying{
    background-color: var(--color-flying);
}

.bg-normal{
    background-color: var(--color-normal);
}

.bg-electric{
    background-color: var(--color-electric);
}

.bg-ice{
    background-color: var(--color-ice);
}

.bg-fighting{
    background-color: var(--color-fighting);
}

.bg-psychic{
    background-color: var(--color-psychic);
}

.bg-rock{
    background-color: var(--color-rock);
}

.bg-ghost{
    background-color: var(--color-ghost);
}

.bg-dark{
    background-color: var(--color-dark);
}

.bg-dragon{
    background-color: var(--color-dragon);
}

.bg-steel{
    background-color: var(--color-steel);
}

.bg-fairy{
    background-color: var(--color-fairy);
}

.bg-ground{
    background-color: var(--color-ground);
}

.type-tag{
    /* filter: brightness(1.3);*/
}

.pokemon-item h2{
    text-transform: capitalize;
}

.pokemon-item{
    display: border-box;
    border-bottom: 1px solid #CCC;
}

.pokemon-item .content{
    display: flex;
    align-items: center;
}

.pokemon-item .title{
    text-align: left;
    padding: 4px;
    box-sizing: border-box;
}

.pokemon-item .title span{
    opacity: .4;
}

.pokemon-item .content > *{
    flex-grow: 1;
    box-sizing: border-box;
}

.pokemon-item .image { width: 24%; }
.pokemon-item .title { width: 36%; }
.pokemon-item .details { width: 40%; }

.pokemon-item .title h2{
    font-size: 1.2em;
}

.pokemon-item .title h2 span{
    display: block;
}

.pokemon-item .details{
    /* */
}

.pokemon-item .details ul{
    display: flex;
    align-content: center;
    justify-content: center;
}

.pokemon-item .details ul li{
    padding: 4px 6px;
    color: white;
    text-shadow: 1px 1px 1px #333;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 4px;
    font-size: .9em;
}

#search .loading-text{
    display: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    z-index: 1;
    width: 100%;
    padding: 4px;
}

.loading #search .loading-text {
    display: block;
}

#search{
    overflow-y: scroll;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

@media (max-width: 799px) {

    #details{
        position: fixed;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: left .8s ease-in-out;
    }

    #details.show{
        left: 0%;
    }

}

@media (min-width: 799px) {
    
    #close-details {
        display: none;
    }

    #main{
        display: flex;
    }
    
    #search{
        flex-grow: 1;
        width: 50%;
    }
    
    #details{
        flex-grow: 1;
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        position: relative;
    }
}

#details .bg{
    height: 1px;
}

#details .bg.layer{
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}